<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :count, class: "control-label" %>
    <%= number_input f, :count, class: "form-control" %>
    <%= error_tag f, :count %>
  </div>

  <div class="form-group">
    <%= label f, :occurred_on, class: "control-label" %>
    <%= date_select f, :occurred_on, class: "form-control" %>
    <%= error_tag f, :occurred_on %>
  </div>

  <div class="form-group">
    <%= label f, :occurred_at, class: "control-label" %>
    <%= datetime_select f, :occurred_at, class: "form-control" %>
    <%= error_tag f, :occurred_at %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
