<h2>Listing Entries</h2>

<table class="table">
  <thead>
    <tr>
      <th>Count</th>
      <th>Occurred on</th>
      <th>Occurred at</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for entry <- @entries do %>
    <tr>
      <td><%= entry.count %></td>
      <td><%= entry.occurred_on %></td>
      <td><%= entry.occurred_at %></td>

      <td class="text-right">
        <span><%= link "Show", to: entry_path(@conn, :show, entry), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: entry_path(@conn, :edit, entry), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: entry_path(@conn, :delete, entry), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Entry", to: entry_path(@conn, :new) %></span>
