<h2>Show Entry</h2>

<ul>

  <li>
    <strong>Count:</strong>
    <%= @entry.count %>
  </li>

  <li>
    <strong>Occurred on:</strong>
    <%= @entry.occurred_on %>
  </li>

  <li>
    <strong>Occurred at:</strong>
    <%= @entry.occurred_at %>
  </li>

</ul>

<span><%= link "Edit", to: entry_path(@conn, :edit, @entry) %></span>
<span><%= link "Back", to: entry_path(@conn, :index) %></span>
